# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# MacOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Virtual environments
venv/
yolovenv/
env/
*.env

# model training etc
cocomaturity/
runs/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
# Usually these files are written by a python script from a template
*.manifest
*.spec

# Opencv related files (if using image caches)
*.jpg
*.jpeg
*.png
*.mp4

# Pillow and Tkinter GUI images
*.ppm
*.pgm

# Logs and databases
*.log
*.sql
*.sqlite3

# IDE specific (VSCode, PyCharm, etc.)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Pytest cache
.pytest_cache/

# YOLO checkpoint, weight files, and model outputs
yolov5/weights/
yolov8/weights/
runs/
models/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System specific files
Thumbs.db
ehthumbs.db
